/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
    color: #333;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #000; /* Default color for light mode */
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #90e0ef;
}

/* Toggle Button */
.menu-toggle {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.theme-toggle {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: inherit; /* mengikuti warna parent yaitu navbar, kode warna #0077b6 */
        flex-direction: column;
        display: none;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}

/* header navbar berwarna biru jika dark-mode di klik */
body.dark-mode .navbar {
    background-color: #0077b6; 
}

/* header navbar berwarna hitam jika light-mode di klik */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}
